.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: hidden;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.tittleForm {
	font-weight: 800;
	font-size: 31px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.selectWrapper {
	position: relative;
	width: 100%;
}

.labelOption {
	font-weight: 800;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-block: 4px;
}

.customSelect {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	min-height: 48px;
	padding: 12px 24px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	background-image: url('src/images/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: right 16px center;
	background-size: 24px;
	border: 1px solid #000000;
	cursor: pointer;

	&:hover {
		border-color: #ffc802;
	}

	&.customSelectOpen {
		border: 3px solid #000000;
	}
}

.selectedColorDisplay {
	display: flex;
	align-items: center;
	gap: 12px;
}

.colorDisplay {
	display: flex;
	align-items: center;
	gap: 12px;
}

/* Контейнер для квадрата и круга */

.colorSquareContainer {
	position: relative;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
}

/* Квадрат с цветом */

.colorSquare {
	flex-shrink: 0;
	width: 24px;
	height: 24px;

	&[data-color='white'] {
		box-sizing: border-box;
		border: 1px solid #000000;
	}
}

/* Белый круг для выбранного цвета */

.selectedCircle {
	position: absolute;
	z-index: 2;
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
}

/* Черный круг для белого фона */

.selectedCircleBlack {
	background-color: black;
	box-shadow: 0 0 2px rgb(255 255 255 / 50%);
}

.colorSquare.disabled {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		background: repeating-linear-gradient(
			135deg,
			#787878 0,
			#787878 1px,
			transparent 0,
			transparent 3px
		);
		border: 1px solid #787878;
		content: '';
	}
}

.optionsList {
	position: absolute;
	top: calc(100% - 3px);
	right: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	background-color: white;
	border: 3px solid #000000;
	padding-block: 16px;
}

.optionItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 24px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: #eeeeee;
	}

	&.optionItemSelected {
		background-color: #d7d7d7;

		&:hover {
			background-color: #e0e0e0;
		}
	}
}

// *** Стили для селекта ширины контента ***

.selectedWidthDisplay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.widthDisplay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.widthIcon {
	width: 25px;
	height: 25px;
}

.fontSizeButtons {
	display: flex;
	box-sizing: border-box;
	width: fit-content; // Изменено: ширина по контенту
	border: 1px solid #000000;
}

.fontSizeButton {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-width: 123px;
	min-height: 35px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	background-color: white;
	border: none;
	cursor: pointer;

	&:not(:last-child) {
		border-right: 1px solid #000000;
	}

	&:hover {
		background-color: #ffedab;
	}

	&.fontSizeButtonActive {
		font-weight: 400;
		background-color: #ffc802;
	}
}

.divider {
	height: 1px;
	background-color: #d7d7d7;
}
